# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
*.egg

# Database
*.db
*.db-wal
*.db-shm
backend/data/

# Environment
.env

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

.agents/
docs/protocols/*
docs/publish/*
